/* Colors */
$gray:         #f2f2f2;
$lilac:        #eaeaf4;
$light-lilac:  #f5f5fb;
$lilac-border: #b6b9d0;
$dark-lilac:   #767897;
$olist-blue:   #041bd4;
$dark-blue:    #312e4f;
$green:        #00d598;
$red:          #f9967f;
$yellow:       #f8bd00;